.article{
    position: relative;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    max-width: 250px;  
}

.thumb__text{
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    padding: 1.5rem 4rem 1rem 3rem;
    color: var(--blue);
    background-color: rgba(247, 237, 231, 0.7);
    text-rendering: optimizeLegibility;
    line-height: 1.2;
}


@media (min-width: 68.75em) {
    .thumb__text{
        padding: 20px 50px;
    }
  }