* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden; 
  scroll-behavior: smooth !important;
}

body {
  background-color: #FFF;
 }

p, a{  
  cursor: pointer;
}

a {
text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a{
& span {
  color: #D2042D
  }
}

li {
  list-style-type: none;
}

:root {
  --red: #D2042D;
  --blue: #123C73;
  --white: #F7EDE7;
  --whiteb: #d0d8e3;
}