* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden; 
  scroll-behavior: smooth !important;
}

body {
  background-color: #FFF;
  height: 2840px;
 }

p, a{  
  cursor: pointer;
}

a {
text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a{
& span {
  color: #D2042D
  }
}

li {
  list-style-type: none;
}
