.main{
  background-color: #F7EDE7;
  overflow-x: hidden;
  margin-top: 7.4rem;
}

.hero__section {
  background-color: #F7EDE7;
  overflow-x: hidden;
  height: 41rem;
  position: relative;
}

.typewriter__wrapper{
  width: 50%;
  padding: 2rem;
}

.hero__header{
  font-size: 2.4rem;
  padding: 3rem 0 0 3rem;
  color: #123C73;
}

.hero__header > span {
  color:#D2042D;
}

.hero__image{
  position: absolute;
  bottom: 0;
  right: -100px !important;
  left: unset !important;
  clip-path: polygon(40% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 22% 77%, 39% 60%);
}

.whoami{
  background-image: url("/layer.png");
  padding-bottom: 5rem;
  scroll-margin-top: 7.4rem;
}

.section__paragraph{
    font-size: 1.8rem;
    color:#F7EDE7;
}


.stack__section{
    background-color: #FFF;
    position: relative;
    background-color: #F9F6F1;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(18, 60, 115, 0.73)),
    url("/lighthouse.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:bottom;
    scroll-margin-top: 7.4rem;
}

.stack__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 2rem;
}

.stack__element{
  z-index: 15;
}

.stack__element svg{      
  
}

.portfolio__section{
  background-image: url("/bgpattern.png");
  background-repeat: repeat;
  scroll-margin-top: 7.4rem;
}

.portfolio__container{
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
}

@media (max-width: 68.75em) {
  .portfolio__container{
    grid-template-columns: repeat(3, 1fr);
    max-width: 80rem;
  }
}

@media (max-width: 48.12em) {
  .portfolio__container{
    grid-template-columns: repeat(2, 1fr);
    max-width: 60rem;
}
}

@media (max-width: 31.25em) {
  .portfolio__container{
    grid-template-columns: 1fr;
    max-width: 30rem;
  }
}