.main{
  background-color: var(--white);
  overflow-x: hidden;
  margin-top: 7.4rem;
}

.hero__section {
  background-color: var(--white);
  overflow-x: hidden;
  height: 41rem;
  position: relative;
}

.typewriter__wrapper{
  width: 50%;
  padding: 2rem;
}

.hero__header{
  font-size: 2.4rem;
  padding: 3rem 0 0 3rem;
  color: var(--blue)
}

.hero__header > span {
  color: var(--red);
}

.hero__image{
  position: absolute;
  bottom: 0;
  right: -100px !important;
  left: unset !important;
  clip-path: polygon(40% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 22% 77%, 39% 60%);
}

.whoami{
  background-image: url("/layer.png");
  padding-bottom: 5rem;
  scroll-margin-top: 7.4rem;
}

.section__paragraph{
    font-size: 1.8rem;
    color:var(--white);
}

.section__paragraph span{
  color:var(--red);
}

.stack__section{
    background-color: var(--white);
    position: relative;
    background-color: var(--whiteb);
    scroll-margin-top: 7.4rem;
    padding: 1rem 0;
    border-top: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
}

.stack__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 2rem;
}

.stack__element{
  z-index: 15;
}

.portfolio__section{
  background-image: url("/bgpattern.png");
  background-repeat: repeat;
  scroll-margin-top: 7.4rem;
}

.portfolio__container{
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
}

@media (max-width: 68.75em) {
  .portfolio__container{
    grid-template-columns: repeat(3, 1fr);
    max-width: 80rem;
  }
}

@media (max-width: 48.12em) {
  .portfolio__container{
    grid-template-columns: repeat(2, 1fr);
    max-width: 60rem;
}
}

@media (max-width: 31.25em) {
  .portfolio__container{
    grid-template-columns: 1fr;
    max-width: 30rem;
  }
}