.menu__wrapper{
    display: block;
    position: fixed;
    left: 0;    
    width: 0;
    opacity: 0;
    height: 42rem;
    background-color: #123C73;
    border-bottom: 3px solid #fff;
    z-index: 30;
}

.menu__ulist{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.5rem;
}
    
.menu__anchor{
    color: #fff;
    font-size: 2rem;
}
 